<nav class="navbar navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand mb-0 h1">家庭記帳本</span>
        <a href="/logout" class="btn btn-outline-danger">登出</a>
    </div>
</nav>
